body {
    background: #dbcdd2ab;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.calculadora {
    background: black;
    border-radius: 10px;
    padding: 10px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    width: 71%;
    padding: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 2px;
    border-radius: 5px;
}

input[type=button] {
    width: 26%;
    padding: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 1px;
    border-radius: 5px;
    background: #1f4cae;
}

#C {
    background: #fb0066;
    width: 15%;
    margin-right: 2x;
}

#igual {
    background: #fb0066;
}

#divisao {
    width: 15%;
}

#multiplicacao {
    width: 15%;
}

#subtracao {
    width: 15%;
}

#adicao {
    width: 15%;
}